@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

table th {
    @apply px-4 py-2;
}

table tbody th {
    @apply font-normal py-4;
}

table tbody > tr {
    @apply hover:bg-gray-50;
}

table tbody > tr > th:first-child {
    @apply text-black;
}

.code {
    font-family: var(--fira-code-font), monospace;
    @apply text-sm font-medium;
}

.code::before {
    content: '`';
    user-select: none;
}

.code::after {
    content: '`';
    user-select: none;
}

.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}

.hover-show:hover .hover-show-subject , .hover-show:hover ~ .hover-show-subject, .hover-show-subject:hover {
    opacity: 1;
}

.video-wrapper:hover .controls, .controls:hover {
    opacity: 1;
}

.volume-wrapper input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.volume-wrapper input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    @apply bg-white;
}

.volume-wrapper input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    margin-top: -4px;
    height: 12px;
    width: 12px;
    transition: ease-in-out 200ms;
    @apply shadow-md;
    @apply rounded-full;
    @apply bg-white;
}

.volume-wrapper input[type="range"]:focus::-webkit-slider-thumb {
    @apply ring;
    @apply ring-blue-100/50;
}

.font-numeric {
    font-family: var(--lato-font);
}

.font-mono {
    font-family: var(--mono-font);
}
