@tailwind base;
@tailwind components;
@tailwind utilities;
@import-normalize;

table th {
    @apply px-4 py-2;
}

table tbody th {
    @apply font-normal py-4;
}

table tbody > tr {
    @apply hover:bg-gray-100;
}

table tbody > tr > th:first-child {
    @apply text-black;
}

.code, .streaming-table tbody > tr > th:first-child {
    font-family: var(--fira-code-font), monospace;
    @apply text-sm font-medium;
}

.code::before, .streaming-table tbody > tr > th:first-child::before {
    content: '`';
    user-select: none;
}

.code::after, .streaming-table tbody > tr > th:first-child::after {
    content: '`';
    user-select: none;
}

.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}

.hover-show:hover .hover-show-subject , .hover-show:hover ~ .hover-show-subject, .hover-show-subject:hover {
    display: block;
    opacity: 1;
}
